*:before,
*,
*:after {
  box-sizing: border-box;
}
input:focus{
    outline: none;
}
body {
  font: 14px/1.3 sans-serif;
  background: #f1c40f;
}

#git-api-form{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;

}

#git-api-form>input, #git-api-form>button{
    border: none;
    height: 25px;
}

.form-title{
    /* text-align: center; */
}

.the-heading {
  width: 100%;
  max-width: 960px;
  padding: 0 30px;
  margin: auto;
}
.the-heading > h2 {
  text-align: center;
  color: #333;
  position: relative;
}
.the-heading > h2:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  right: 0;
  width: 50px;
  transform: translateX(-50%);
  border-bottom: 2px solid #e74c3c;
}

.about-author {
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 0;
  border: 5px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.about-author > img {
  width: 100%;
  display: block;
}
.about-author > .story {
  position: absolute;
  bottom: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 15px;
  color: #fff;
  opacity: 0;
  transition: all 0.2s;
}
.about-author > .story > h2 {
  background: rgba(231, 76, 60, 0.7);
  padding: 15px;
  transform: translateX(-600px);
  transition: all 0.5s;
}
.about-author > .story > p {
  background: rgba(231, 76, 60, 0.7);
  padding: 15px;
  transform: translateX(1200px);
  transition: all 0.5s;
}
.about-author:hover .story {
  opacity: 1;
  bottom: 0;
}
.about-author:hover .story > h2 {
  transform: translateX(0);
}
.about-author:hover .story > p {
  transform: translateX(0);
}

/* CSS for repositories List */

.title {
  text-align: center;
  width: 100%;
  font-size: 27px;
  font-family: 'Roboto';
  font-weight: 600;
  z-index: -1;
}

.media-man-files-wrapper {
  max-width: 92%;
  width: 900px;
  margin: 10px auto 40px;
  padding: 20px 20px 0;
  background-color: #ddd;
  font-family: Roboto;
  position: relative;
  overflow: hidden;
}

.file-thumb {
  background-color: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #bbb;
}

.media-man-thumb {
  display: inline-block;
  float: left;
  max-height: 90%;
  max-width: 90%;
  padding: 1.2%;
}

.file-thumb a {
  display: block;
  transition: 0.2s;
}

.file-thumb a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.file-thumb h2 {
  transition: 0.2s;
}

.file-thumb h2:hover {
  color: #666;
  cursor: pointer;
}

.file-thumb span {
  font-size: 24px;
}

.file-thumb span.price {
  color: orange;
}

.media-man-file-list .file-thumb {
  width: 100%;
  margin: 0 auto 20px;
}
.media-man-file-list .media-man-thumb {
  max-width: 30%;
}
.media-man-file-list .details {
  
  float: left;
  max-width: 66%;
  margin-top: 4%;
  margin-left: 1%;
}



